<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-0">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img class="header__img" src="{{ url_for('static', filename='img/logo3.png') }}" alt="linux">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {% if current_user.is_authenticated and current_user.role_id == 2 %}
            {% if request.endpoint != 'user_routes.profile' %}  <!-- Проверяем, что не на странице профиля -->
                <li><a href="{{ url_for('post.create') }}" class="nav-link px-2">Добавить запись</a></li>
            {% endif %}
        {% endif %}
      </ul>

    <div class="col-md-3 text-end">
          {% if current_user.is_authenticated %}
           <span><b>{{ current_user.name }}</b></span>
           <a href="{{ url_for('user_routes.logout')}}" class="btn btn-warning">Выйти</a>
           <a href="{{ url_for('user_routes.profile')}}" class="btn btn-warning">Личный кабинет</a>
          {% else %}
           <a href="{{ url_for('user_routes.login')}}" class="btn btn-warning">Войти</a>
           <a href="{{ url_for('user_routes.register')}}" class="btn btn-warning">Регистрация</a>
          {% endif %}

      </div>

</header>