@import url('fonts.css');

body {
    background: #212121;
    color: #ffffff;
}

.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: sticky;
    background-color: transparent;
    inset: 0;
    backdrop-filter: blur(32px);
    z-index: 1000;
    top: 0;
    padding: 10px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    flex: 1 1 auto;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}


.header__img {
    display: block;
    width: 48px;
    height: 48px;
}

.btn-warning {
    color: #ffffff;
    background-color: #0a6ebd;
    border-color: #0a6ebd;;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}


.nav-link {
    color: white;
    font-weight: bold;
    font-family: 'Arial', sans-serif;

}

.card {
    background-color: #ffffff;
    border-color: black;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: black;
}

.btn-group {
    border-color: black;
}

.btn-outline-secondary {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2e98f6;
    --bs-btn-hover-border-color: #2e98f6;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон для круга */
    backdrop-filter: blur(10px); /* Размытие фона */
    border-radius: 50%; /* Скругляем до круга */
    padding: 10px; /* Отступы для создания эффекта круга */
    width: 40px; /* Устанавливаем фиксированный размер для иконки */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-control-prev-icon {
    background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон для круга */
    backdrop-filter: blur(10px); /* Размытие фона */
    border-radius: 50%; /* Скругляем до круга */
    padding: 10px; /* Отступы для создания эффекта круга */
    width: 40px; /* Устанавливаем фиксированный размер для иконки */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ms-3 {
    margin-right: 15px;
}

#policy-details {
    text-decoration: none;
    color: #FFFFFF;
}


.table {
                width: 100%;
            border-collapse: collapse;
}

th {
    background-color: #858585 !important;
    color: white !important;
}

td {
    background-color: #ffffff !important;
}